/* .login-container{
	 width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 40, 40, 0.5), rgba(255, 255, 255, 0.5)), url('https://res.cloudinary.com/dytnpjxrd/image/upload/v1650326872/MERN%20Ecommerce/pexels-mart-production-7605201_sa4c7q.jpg') center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
} */
